---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import GroupIcon from '@assets/icons/group-line.svg';
import { getGlobImage } from '@utils/image';
import { getLabels } from '@i18n/utils';

const labels = getLabels(Astro.currentLocale, 'aboutTeam');
const members = labels.members;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/team-*.webp');
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="space-y-8 sm:space-y-12">
      <div class="flex gap-4">
        <GroupIcon class="fill-primary-500 h-8 w-8 shrink-0 sm:h-10 sm:w-10" aria-hidden="true" />
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{labels.title}</h2>
      </div>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          members.map((member, index) => (
            <li class="border-subtle rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <Image
                  class="mx-auto h-40 w-40 rounded-full"
                  src={getGlobImage(images, `/src/assets/team-${index + 1}.webp`)}
                  alt={member.name}
                />
                <div class="text-center">
                  <h3 class="text-lg font-medium">{member.name}</h3>
                  <p class="text-muted text-base">{member.job}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
