---
import ServiceIcon from '@assets/icons/service-line.svg';
import { getLabels } from '@i18n/utils';

const labels = getLabels(Astro.currentLocale, 'homeServices');
const services = labels.services;
---

<section class="relative overflow-hidden py-16 sm:py-20">
  <div class="pointer-events-none invisible absolute inset-0 top-50 sm:visible lg:top-40" aria-hidden="true">
    <canvas class="text-primary-600 dark:text-primary-400" x-data="dnaBackground" aria-hidden="true"></canvas>
  </div>
  <div class="relative mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <div class="flex gap-4">
        <ServiceIcon class="fill-primary-500 h-8 w-8 shrink-0 sm:h-10 sm:w-10" aria-hidden="true" />
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{labels.title}</h2>
      </div>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-surface flex flex-col gap-12 rounded-3xl px-6 py-8 backdrop-blur-md">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-muted text-base sm:text-lg">{service.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
